extends baseEmail

block content

  //-Below variables firstName and url are passed into this welcome.pug template in email.js -> async send(template, subject) -> const html = pug.renderFile()...
  p Hi #{firstName},
  p Forgot your password? Submit a PATCH request with your new password and passwordConfirm to: #{url}.
  p (Website for dis action not yet implemented.)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password
  p If you didn't forget your password, please ignore this email!